$fondoDivMain: #ffe066;
$fondoShadow: black;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@mixin marginTop ($size) {
    margin-top: $size;
}

.div_Main {
    width: 1100px;
    background-color: $fondoDivMain;
    height: auto;
    margin: 0px auto;
    border: 2px solid #636262;
    box-shadow: 5px 5px 5px $fondoShadow;
    border-radius: 8px;
    @include marginTop(15px);
}

.grid-item2 {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.div_Main-cronometro {
    width: 1100px;
    background-color: $fondoDivMain;
    height: 720px;
    margin: 0px auto;
    border: 2px solid #636262;
    box-shadow: 5px 5px 5px $fondoShadow;
    border-radius: 8px;
    @include marginTop(15px);
}